.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to start and end of container */
    height: var(--tg-viewport-stable-height);
    max-height: var(--tg-viewport-stable-height); /* Adjust max-height to viewport */
}


/*.message-item {*/
/*    padding: 8px;*/
/*    margin-bottom: 8px;*/
/*    border-radius: 4px;*/
/*}*/


.error-message {
    color: red;
}
* {
    overflow-x: hidden;
}
