.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to start and end of container */
    height: var(--tg-viewport-stable-height);
    max-height: var(--tg-viewport-stable-height); /* Adjust max-height to viewport */
}

.user-button {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.message-item {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.client-message {
    background-color: #f0f0f0;
}

.server-message {
    background-color: #cce5ff;
}

.navbar {
    background-color: #3498db;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ecf0f1;
}

.active-nav-link {
    font-weight: bold;
    border-bottom: 2px solid #ecf0f1;
}

.error-message {
    color: red;
}
* {
    overflow-x: hidden;
}
