
.chat-container {
    width: 400px;
    max-height: 70vh; /* Use max-height instead of height for flexibility */
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message-list {
    padding: 16px;
    overflow-y: auto; /* Keep this if you want scrolling when content overflows */
    flex-grow: 1;
    margin-bottom: 40px;
}

.message-timestamp {
    align-self: flex-end;
    margin-top: auto;
    font-size: 0.8em;
    color: black;
}

.input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 8px;
    border-top: 1px solid #ddd;
    background: white;
    width: 100%; /* Ensure input container does not exceed chat container width */
    box-sizing: border-box; /* Include padding and border in the width */
}

.message-input {
    flex: 1; /* Take up remaining space */
    padding: 8px 15px; /* Adjusted padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 8px; /* Maintain this margin to separate input from button */
    box-sizing: border-box; /* Include padding and border in the width */
}

.send-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px; /* Adjust this padding if necessary */
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in the width */
}

.message-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 7px;
    background-color: #f7f7f7;
}

.client-message {
    background-color: #4caf50;
    align-self: flex-end;
}

.server-message {
    background-color: #3498db;
    align-self: flex-start;
}

.message-input {
    height: 40px;
    padding: 0 15px;
}

.error-message {
    color: red;
}
