.chat-container {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.message-list {
    flex-grow: 1; /* Allows the list to fill the space */
    padding: 16px;
    overflow-y: auto; /* Inner scroll for messages only */
}

.message-timestamp {
    align-self: flex-end;
    margin-top: auto;
    font-size: 0.8em;
    color: black;
    overflow-y: hidden;
    /* other styles */
}

.input-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%; /* Full width */
    padding: 8px;
    background: white; /* Match background color of app */
    border-top: 1px solid #ddd;
    z-index: 100; /* Ensure it's above other elements */
}

.message-input {
    flex-grow: 1;
    margin-right: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.send-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.message-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    word-wrap: break-word;
    /* other styles */
}
.client-message {
    background-color: #4caf50;
    align-self: flex-end;
}

.server-message {
    background-color: #3498db;
    align-self: flex-start;
}
.message-input {
    height: 40px;
    padding: 0 15px;
}

